*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Segoe UI, Arial, sans-serif;
}

body{
  background:#f4f6f8;
  color:#222;
}

/* NAVBAR */
nav{
  background:#ffffff;
  padding:18px 50px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  box-shadow:0 2px 10px rgba(0,0,0,0.08);
}

nav h2{
  color:#2563eb;
}

nav a{
  margin-left:18px;
  text-decoration:none;
  color:#333;
  font-weight:500;
}

nav a:hover{
  color:#2563eb;
}

/* SECTIONS */
section{
  padding:60px 50px;
}

.hero{
  display:grid;
  grid-template-columns:1fr 1fr;
  align-items:center;
  gap:40px;
}

.hero h1{
  font-size:38px;
}

.hero span{
  color:#2563eb;
}

.hero p{
  margin:20px 0;
  color:#555;
}

/* BUTTON */
.btn{
  padding:12px 28px;
  background:#2563eb;
  color:#fff;
  border:none;
  border-radius:6px;
  cursor:pointer;
}

.btn:hover{
  background:#1e4fd1;
}

/* PROJECTS */
.cards{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
  gap:25px;
  margin-top:30px;
}

.card{
  background:#fff;
  padding:25px;
  border-radius:10px;
  box-shadow:0 6px 18px rgba(0,0,0,0.08);
}

.card h3{
  margin-bottom:10px;
}

.card p{
  color:#555;
  font-size:15px;
}

/* FOOTER */
footer{
  text-align:center;
  padding:20px;
  background:#ffffff;
  margin-top:40px;
  font-size:14px;
  color:#555;
}
